/* Estilos reutilizables*/
.uppercase{
	text-transform: uppercase;
}
.container{
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	overflow: auto;
}

.row{
	overflow: auto;
}

[class*="col-"]{
	float: left;
	padding: 1rem;
}

.col-1{
	width: 8.33333%;
}

.col-2{
	width: 16.66667%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.3333%;
}

.col-5{
	width: 41.66666667%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33333%;
}

.col-8{
	width: 66.66667%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.333333%;
}

.col-11{
	width: 91.666667%,
}

.col-12{
	width: 100%;
}

.bg-turqueza{
	background: #19C3A8;
	color: white;
	text-align: center;
}

.bg-white{
	background: white;
	color: black;
	text-align: center;
}

.container-line-star{
	position: relative;
}

.line-star{
	max-width: 250px;
	border-width: 3px;
	border-style: solid;
	margin: 2em auto;
}

.over-hr{
	position: absolute;
	top: -10px;
	left: 48%;
	font-size: 1.7em;
	width: 1.5em;
}

.height-img{
	position: relative;
	height: 250px;
}

.border-div{
	border: none;
	border-top: 1px solid lightgray;
}

.capa-img{
	visibility: hidden;
	position: absolute;
	top: 1rem;
	width: 91%;
	height: 87%;
	background: rgba(25, 195, 168, 0.8);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	transition: 0.3s;
}

.height-img:hover{
	cursor: pointer;
}

.mv3{
	margin: 3rem 0;
}