*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

 a{
 	text-decoration: none;
}

header{
	position: fixed;
 	background-color: #31455A;
 	overflow: auto;
 	padding: 2rem 0;
 	width: 100%;
}

 header *{
 	color: white;
 	height: 50px;
}

header a{
 	padding: 1rem 0;
 	text-align: center;
}

header a:hover{
	background: #19C3A8;
}

section{
	width: 100%;
	padding: 0 10rem;
}

.name-proyecto{
 	font-size: 2rem;
    padding: 7px 0;
 }

