*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

 a{
 	text-decoration: none;
}

h2{
	font-size: 2.75em;
	font-weight: 700;
}

header{
	position: fixed;
 	background-color: #2C3E50;
 	overflow: auto;
 	padding: 2rem 0;
 	width: 100%;
 	z-index: 300;
}

header.adelgazar{
	padding: 1rem 0;
}

header.adelgazar p:nth-child(1){
	font-size: 1em;
	padding: 14px 0;
}
 header *{
 	color: white;
 	font-weight: 700;
}

header a{
 	padding: 1rem 0;
 	text-align: center;
}

header a:hover{
	color: #19C3A8;
}

section{
	width: 100%;
	padding: 5em 0;
}
.active{
	background: #19C3A8;
}

header p:nth-child(1){
 	font-size: 2em;
    padding: 7px 0;
}

/*Estilos para la portada*/
.portada{
	padding-top: 8em;
}

h1{
	font-size: 4.75em;
	font-weight: 700;
}

div.portada p{
	font-size: 1.5em;
}

/*Estilos para portafolio*/
#portafolio img{
	width: 100%;
	height: 100%;
}

.modal-box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	height: 100%;
	z-index: 400;
}
.modal-box a{
	position: absolute;
	top: 2em;
	right: 2em;
	font-size: 2rem;
	color: black;
}

#modal-box-img{
	width: 100%;
}

#btn-close-modal{
	border: 1px solid grey;
	outline: 0;
	background: white;
	padding: 7px;
}
.container-flex{
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 600px;
}
s
/*Estilos para about*/
#about p{
	font-size: 20px;
	line-height: 1.4;
	text-align: justify;
	margin-bottom: 1em;
}

#about button{
	background: transparent;
	border-radius: 5px;
	border: 3px solid white;
	color: white; 
	font-size: 20px;	
	margin-top: 1em;
	padding: 10px;
	outline: 0;
}
#about button:hover{
	background: white;
	color: #19C3A8;
	cursor: pointer;
}

/*Estilos para contact me*/
#contact-me form{
	width: 75%;
    margin: 0 auto;
}

#contact-me form div:nth-child(4){
	border-bottom: 1px solid lightgray;
}

#contact-me form input{
	width: 100%;	
	color: grey;
	border: none;
	font-size: 20px;
	outline: 0;	
}

#contact-me form textarea{
	font-size: 20px;
	width: 100%;
	height: 10rem;	
	outline: 0;
	border: none;
}

#contact-me form label{
	position: relative;
	top: 1em;
	color: #19C3A8;
	display: block;
	font-size: 0.65em;
	opacity: 0;
	text-align: left;		
	width: 100%;
	transition: top .4s ease;
}

#contact-me form span{
	text-align: left;
}

#send{
	background: #19C3A8;
	border: none;
	border-radius: 5px;
	color: white;
	float: left;
	font-weight: 700;
	font-size: 1em;
	margin-left: 1em;
	margin-top: 1.5em;
	padding: 1em;
	outline: 0;	
}

#send:hover{
	background: #128f76;
}

.mostrar-label{
	top: -1.3em !important;
	opacity: 1 !important;
}

/*Estilos para el header*/
footer{
	width: 100%;
	background: #2C3E50;
	color: white;
	text-align: center;
}
.footer-2{
	background: #233140;
	font-size: 0.75em;
	padding: 2em 0;
}

footer p:first-child{
	font-size: 1.4em;
	font-weight: 800;
	margin-bottom: 2em;
}

footer p{
	line-height: 1.5;
}

footer a{
	color: #19C3A8;
}

footer a:hover{
	text-decoration: underline;
}

.div-icons{
	display: flex;
	justify-content: space-around;
}
.div-icons a{
	border: 2px solid white;
	border-radius: 50%;
	color: white;
	font-size: 1.3em;
	padding: 10px 13px;	
	overflow: hidden;
}

.div-icons a:nth-child(1){
	padding: 10px 15px;
}

.div-icons a:nth-child(2){
	padding: 10px;
}

.div-icons a:hover{
	color: #19C3A8;
	background: white;
}